# Docker Image Versions
BABYLOND_VERSION=.main
CELESTIA_APP_VERSION=v1.11.0
CELESTIA_NODE_VERSION=v0.14.1
BITCOIN_VERSION=v25.0

# Bitcoin Regtest Configuration
BITCOIN_RPC_USER=
BITCOIN_RPC_PASSWORD=