# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.old
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# env file
venv/
.env

# Editor/IDE
.idea/
.vscode/


spec/tla2tools.jar
states/

# Noir execution artifacts
target/
proofs/

# Private inputs
Prover.toml

# Verifier inputs (Optional to ignore, but usually not needed)
Verifier.toml


data/